<div class="container profile-view" id="profile-overview">
	<div class="row">
		<div class="extra-row row">
			<div class="col-md-3">
				<div class="t-block" id="about">
					<h3>About</h3>
					<ul class="list-unstyled">
						<li>
							<h4> 
								<strong>Motto</strong> Veritas
							</h4>
						</li>
						<li>
							<h4> 
								<strong>Motto in English</strong> Truth
							</h4>
						</li>
						<li>
							<h4> 
								<strong>Established</strong> 1636
							</h4>
						</li>
						<li>
							<h4> 
								<strong>Type</strong> private
							</h4>
						</li>
						<li>
							<h4> 
								<strong>Endowment</strong> US$32.3 billion (2013)
							</h4>
						</li>
						<li>
							<h4> 
								<strong>President</strong> <a href="#">Drew Gilpin Faust</a>
							</h4>
						</li>
						<li>
							<h4> 
								<strong>Academic staff</strong> 4,671
							</h4>
						</li>
						<li>
							<h4> 
								<strong>Admin. staff</strong> 2,500 non-medical, 11,000 medical
							</h4>
						</li>
						<li>
							<h4> 
								<strong>Students</strong> 21,000
							</h4>
						</li>
						<li>
							<h4> 
								<strong>Undergraduates</strong> 7,200 total
							</h4>
						</li>
						<li>
							<h4> 
								<strong>Postgraduates</strong> 14,000
							</h4>
						</li>
						<li>
							<h4> 
								<strong>Campus</strong> <a href="#">Urban</a>
							</h4>
						</li>
						<li>
							<h4> 
								<strong>Newspaper</strong> <a href="#">The Harvard Crimson</a>
							</h4>
						</li>
						<li>
							<h4> 
								<strong>Colors</strong> <a href="#">Crimson</a>
							</h4>
						</li>
						<li>
							<h4> 
								<strong>Athletics</strong> <a href="#">NCAA Division I – Ivy League</a>
							</h4>
						</li>
						<li>
							<h4> 
								<strong>Sports</strong> <a href="#">42 Varsity Teams</a>
							</h4>
						</li>
						<li>
							<h4> 
								<strong>Nickname</strong> <a href="#">Harvard Crimson</a>
							</h4>
						</li>
						<li>
							<h4> 
								<strong>Affiliations</strong> <a href="#">NAICU</a>, <a href="#">AICUM</a>, <a href="#">AAU</a>, <a href="#">URA</a>
							</h4>
						</li>
						<li>
							<h4> 
								<strong>Website</strong> <a href="#">Harvard.edu</a>
							</h4>
						</li>
					</ul>
				</div>
			</div>
			<div class="col-md-9" id="faculty-list">
				<ul class="mid-list list-unstyled updates t-block mini-profile-container">
					<div class="row mini-profile">
						<div class="row connection-view">
							<li class="col-md-4 box">
								<a href="#/profile/" class="inner-box">
									<img src="http://upload.wikimedia.org/wikipedia/en/0/02/Harvard_shield-College.png">
									<h3>Harvard College</h3>
									<hr>
									<h4>Established</h4>
									<h5>1782</h5>
									<h4>Type</h4>
									<h5>Private</h5>
									<h4>Endowment</h4>
									<p>US$3.0 Billion</p>
									<h4>Dean</h4>
									<h5>Rakesh Khurana</h5>
									<h4>Academic staff</h4>
									<p>?</p>
									<h4>Students</h4>
									<p>?</p>
									<h4>Location</h4>
									<h5>Cambridge, Massachusetts, United States</h5>
									<h4>Website</h4>
									<p>college.harvard.edu</p>
								</a>
							</li>
							<li class="col-md-4 box">
								<a href="#/profile/" class="inner-box">
									<img src="http://upload.wikimedia.org/wikipedia/en/3/38/Harvard_shield-Medical.png">
									<h3>Harvard Medical School</h3>
									<hr>
									<h4>Established</h4>
									<h5>1636</h5>
									<h4>Type</h4>
									<h5>Private</h5>
									<h4>Endowment</h4>
									<p>US$3.0 Billion</p>
									<h4>Dean</h4>
									<h5>Jeffrey S. Flier</h5>
									<h4>Academic staff</h4>
									<p>10,884</p>
									<h4>Students</h4>
									<p>1,563</p>
									<h4>Location</h4>
									<h5>Cambridge, Massachusetts, United States</h5>
									<h4>Website</h4>
									<p>hms.harvard.edu</p>
								</a>
							</li>
							<li class="col-md-4 box">
								<a href="#/profile/" class="inner-box">
									<img src="http://upload.wikimedia.org/wikipedia/en/4/46/Harvard-div.png">
									<h3>Harvard Medical School</h3>
									<hr>
									<h4>Established</h4>
									<h5>1816</h5>
									<h4>Type</h4>
									<h5>Private</h5>
									<h4>Endowment</h4>
									<p>US$3.0 Billion</p>
									<h4>Dean</h4>
									<h5>David Hempton</h5>
									<h4>Academic staff</h4>
									<p>44</p>
									<h4>Students</h4>
									<p>339</p>
									<h4>Location</h4>
									<h5>Cambridge, Massachusetts, United States</h5>
									<h4>Website</h4>
									<p>hds.harvard.edu</p>
								</a>
							</li>
							<li class="col-md-4 box">
								<a href="#/profile/" class="inner-box">
									<img src="http://upload.wikimedia.org/wikipedia/en/3/38/Harvard_shield-Medical.png">
									<h3>Harvard Medical School</h3>
									<hr>
									<h4>Established</h4>
									<h5>1636</h5>
									<h4>Type</h4>
									<h5>Private</h5>
									<h4>Endowment</h4>
									<p>US$3.0 Billion</p>
									<h4>Dean</h4>
									<h5>Jeffrey S. Flier</h5>
									<h4>Academic staff</h4>
									<p>10,884</p>
									<h4>Students</h4>
									<p>1,563</p>
									<h4>Location</h4>
									<h5>Cambridge, Massachusetts, United States</h5>
									<h4>Website</h4>
									<p>hms.harvard.edu</p>
								</a>
							</li>
						</div>
					</div>
				</ul>
			</div>
		</div>
	</div>
</div>