<section class="white-page">
	<div class="blue-block" id="main-banner">
		<h1>Your Professional Social Network</h1>
	</div>
	<div id="home-carousel" class="carousel container mini-profile-container" data-ride="carousel">
	  <!-- Indicators -->
	  <ol class="carousel-indicators">
	    <li data-target="#home-splash" data-slide-to="0" class="active"></li>
	    <li data-target="#home-splash" data-slide-to="1"></li>
	    <li data-target="#home-splash" data-slide-to="2"></li>
	  </ol>

	  <!-- Wrapper for slides -->
	  <div class="carousel-inner">
	    <div class="item active">
	      	<section class="row">
				<div class="row">
					<h1>Connect with Professionals</h1>
					<h5>The entire map is now interactive. Clicking anywhere will focus the map on that location and show you helpful things, like related places <br> and the best ways to get there. </h5>
					<div class="col-md-3 box">
						<a href="#/profile/" class="inner-box">
							<img src="https://s3.amazonaws.com/photos.angel.co/users/43116-medium_jpg?1336673056">
							<h3>Jeff Schox</h3>
							<hr>
							<h4>Experience</h4>
							<h5>Patent Attorney</h5>
							<h4>Interests</h4>
							<h5>Investing</h5>
							<h4>Location</h4>
							<p>San Francisco, USA</p>
						</a>
					</div>
					<div class="col-md-3 box">
						<a href="#/profile/" class="inner-box">
							<img src="https://s3.amazonaws.com/photos.angel.co/users/43116-medium_jpg?1336673056">
							<h3>Jeff Schox</h3>
							<hr>
							<h4>Experience</h4>
							<h5>Patent Attorney</h5>
							<h4>Interests</h4>
							<h5>Investing</h5>
							<h4>Location</h4>
							<p>San Francisco, USA</p>
						</a>
					</div>
					<div class="col-md-3 box">
						<a href="#/profile/" class="inner-box">
							<img src="https://s3.amazonaws.com/photos.angel.co/users/43116-medium_jpg?1336673056">
							<h3>Jeff Schox</h3>
							<hr>
							<h4>Experience</h4>
							<h5>Patent Attorney</h5>
							<h4>Interests</h4>
							<h5>Investing</h5>
							<h4>Location</h4>
							<p>San Francisco, USA</p>
						</a>
					</div>
					<div class="col-md-3 box">
						<a href="#/profile/" class="inner-box">
							<img src="https://s3.amazonaws.com/photos.angel.co/users/43116-medium_jpg?1336673056">
							<h3>Jeff Schox</h3>
							<hr>
							<h4>Experience</h4>
							<h5>Patent Attorney</h5>
							<h4>Interests</h4>
							<h5>Investing</h5>
							<h4>Location</h4>
							<p>San Francisco, USA</p>
						</a>
					</div>
				</div>
				<!-- <div class="row view-more-container">
					<a href="#" class="btn btn-block btn-default view-more">Load More</a>
				</div> -->
			</section>
	    </div>
	    <div class="item">
	    	<section class="">
				<div class="row">
					<h1>Explore Businesses</h1>
					<h5>The entire map is now interactive. Clicking anywhere will focus the map on that location and show you helpful things, like related places <br> and the best ways to get there. </h5>
					<div class="col-md-3 box">
						<a href="#" class="inner-box">
							<img src="http://2011.leweb.co/sites/default/files/styles/square-210/public/partners/logos/logoIBM.jpg">
							<h3>IBM Corporation</h3>
							<h5>Internet</h5>
							<hr>
							<h4>Type</h4>
							<p>Public</p>
							<h4>Size</h4>
							<p>100k Employees</p>
							<h4>Founded</h4>
							<p>2004</p>
							<h4>Location</h4>
							<p>San Francisco, USA</p>
						</a>
					</div>
					<div class="col-md-3 box">
						<a href="#" class="inner-box">
							<img src="http://blogs-images.forbes.com/ericsavitz/files/2011/10/HP-Logo3.jpg">
							<h3>HP Inc</h3>
							<h5>Internet</h5>
							<hr>
							<h4>Type</h4>
							<p>Public</p>
							<h4>Size</h4>
							<p>100k Employees</p>
							<h4>Founded</h4>
							<p>2004</p>
							<h4>Location</h4>
							<p>San Francisco, USA</p>
						</a>
					</div>
					<div class="col-md-3 box">
						<a href="#" class="inner-box">
							<img src="http://www.technobuffalo.com/wp-content/uploads/2012/01/Dell-Logo-360x355.png">
							<h3>Dell Corporation</h3>
							<h5>Internet</h5>
							<hr>
							<h4>Type</h4>
							<p>Public</p>
							<h4>Size</h4>
							<p>100k Employees</p>
							<h4>Founded</h4>
							<p>2004</p>
							<h4>Location</h4>
							<p>San Francisco, USA</p>
						</a>
					</div>
					<div class="col-md-3 box">
						<a href="#" class="inner-box">
							<img src="http://www.slipperybrick.com/wp-content/uploads/2009/11/yahoo-logo.jpg">
							<h3>Yahoo! Inc</h3>
							<h5>Internet</h5>
							<hr>
							<h4>Type</h4>
							<p>Public</p>
							<h4>Size</h4>
							<p>100k Employees</p>
							<h4>Founded</h4>
							<p>2004</p>
							<h4>Location</h4>
							<p>San Francisco, USA</p>
						</a>
					</div>
				</div>
			</section>
	    </div>
	    <div class="item">
	    	<section class="row">
				<div class="row">
					<h1>Discover Jobs</h1>
					<h5>The entire map is now interactive. Clicking anywhere will focus the map on that location and show you <br>  helpful things, like related places and the best ways to get there. </h5>
					<div class="col-md-3 box">
						<a href="#" class="inner-box">
							<img src="https://www.facebook.com/images/fb_icon_325x325.png">
							<h3>Facebook Inc</h3>
							<h5>Internet</h5>
							<hr>
							<h4>Position</h4>
							<p>UX/UI Engineer</p>
							<h4>Salary</h4>
							<p>$100k - $150k</p>
							<h4>Location</h4>
							<p>San Francisco, USA</p>
						</a>
					</div>
					<div class="col-md-3 box">
						<a href="#" class="inner-box">
							<img src="http://cdn2.vox-cdn.com/entry_photo_images/8986569/google_large_verge_medium_landscape.jpg">
							<h3>Google Inc</h3>
							<h5>Internet</h5>
							<hr>
							<h4>Position</h4>
							<p>UX/UI Engineer</p>
							<h4>Salary</h4>
							<p>$100k - $150k</p>
							<h4>Location</h4>
							<p>San Francisco, USA</p>
						</a>
					</div>
					<div class="col-md-3 box">
						<a href="#" class="inner-box">
							<img src="http://www.chinaretailnews.com/wp-content/uploads/apple-logo.png">
							<h3>Facebook Inc</h3>
							<h5>Apple</h5>
							<hr>
							<h4>Position</h4>
							<p>UX/UI Engineer</p>
							<h4>Salary</h4>
							<p>$100k - $150k</p>
							<h4>Location</h4>
							<p>San Francisco, USA</p>
						</a>
					</div>
					<div class="col-md-3 box">
						<a href="#" class="inner-box">
							<img src="http://www.health2con.com/events/files/twitter-logo-square-150x150.png">
							<h3>Apple Inc</h3>
							<h5>Internet</h5>
							<hr>
							<h4>Position</h4>
							<p>UX/UI Engineer</p>
							<h4>Salary</h4>
							<p>$100k - $150k</p>
							<h4>Location</h4>
							<p>San Francisco, USA</p>
						</a>
					</div>
				</div>
			</section>
	    </div>
	    
	  </div>
	</div>
</section>