<section id="login" class="t-block col-md-8 col-sm-offset-2">
	<h3>Log In</h3>
	<div id="login-form">
		<form class="col-md-6 col-sm-offset-3">
			<label for="email" class="col-sm-offset-2">Email</label>
			<input name="email" type="text" class="col-md-8 col-sm-offset-2">
			<label for="password" class="col-sm-offset-2">Password</label>
			<input name="password" type="text" class="col-md-8 col-sm-offset-2">
			<a id="login-btn" href="#" class="col-sm-offset-2 btn btn-primary">Sign in</a>
		</form>
	</div>
	<div id="social-login-btns" class="col-md-12">
		<div class="col-md-4">
			<a href="#" class="btn btn-default btn-block btn-lg"><i class="fa fa-google-plus"></i> Log In with Google</a>
		</div>
		<div class="col-md-4">
			<a href="#" class="btn btn-default btn-block btn-lg"><i class="fa fa-facebook"></i> Log In with Facebook</a>
		</div>
		<div class="col-md-4">
			<a href="#" class="btn btn-default btn-block btn-lg"><i class="fa fa-twitter"></i> Log In with Twitter</a>
		</div>
	</div>
	<div id="new-account-signup" class="col-md-12">
		Need an account? <a href="#">Sign Up</a>
	</div>
</section>