<div class="container profile-view" id="profile-overview">
	<div class="row">
		<div class="extra-row row">
			<div class="col-md-3">
				<div class="t-block" id="about">
					<h3>About</h3>
					<ul class="list-unstyled">
						<li>
							<h4>
								<a href="#"	class="green privacy"><i class="fa fa-unlock"></i></a>
								<strong>Works as</strong> <a href="#">UI/UX Designer</a>
								<a href="#" class="yellow edit btn btn-default btn-xs"><i class="fa fa-pencil"></i></a>
								<br><span class="dull">Past: Web Designer</span>
							</h4>
						</li>
						<li>
							<h4>
								<a href="#" class="green privacy"><i class="fa fa-unlock"></i></a>
								<strong>Works at</strong> <a href="#">Tiihub Inc. </a>
								<a href="#" class="yellow edit btn btn-default btn-xs"><i class="fa fa-pencil"></i></a>
								<br><span class="dull">Past: Google, Facebook</span>
							</h4>
						</li>
						<li>
							<h4>
								<a href="#" class="orange privacy"><i class="fa fa-unlock-alt"></i></a>
								<strong>Studied </strong> <a href="#">Master of Science in Computer Science</a>, <a href="#">Bachelor of Science in Information Science</a>
								<a href="#" class="yellow edit btn btn-default btn-xs"><i class="fa fa-pencil"></i></a>
							</h4>
						</li>
						<li>
							<h4>
								<a href="#" class="orange privacy"><i class="fa fa-unlock-alt"></i></a>
								<strong>Studied at</strong> <a href="#">Parsons The New School for Design</a>, <a href="#">Harvard University</a>, <a href="#">Oxford University</a>
								<a href="#" class="yellow edit btn btn-default btn-xs"><i class="fa fa-pencil"></i></a>
							</h4>
						</li>
						<li>
							<h4>
								<a href="#" class="green privacy"><i class="fa fa-unlock"></i></a>
								<strong>Skills</strong> <a href="#">Web Design</a>, <a href="#">Computer Programming</a>
								<a href="#" class="yellow edit btn btn-default btn-xs"><i class="fa fa-pencil"></i></a></h4>
						</li>
						<li>
							<h4>
								<a href="#" class="green privacy"><i class="fa fa-unlock"></i></a>
								<strong>Looking for</strong> <a href="#">Investments</a>, <a href="#">Jobs</a>
								<a href="#" class="yellow edit btn btn-default btn-xs"><i class="fa fa-pencil"></i></a>
							</h4>
						</li>
						<li>
							<h4>
								<a href="#" class="red privacy"><i class="fa fa-lock"></i></a>
								<strong>Contact</strong>
								<a href="#">hilaal@gmail.com</a> <a href="#" class="yellow edit btn btn-default btn-xs"><i class="fa fa-pencil"></i></a>
							</h4>
						</li>
						<li>
							<h4>
								<a href="#" class="red privacy"><i class="fa fa-lock"></i></a>
								<strong>Facebook</strong> <a href="#">Hilarl Agil</a>
								<a href="#" class="yellow edit btn btn-default btn-xs"><i class="fa fa-pencil"></i></a>
							</h4>
						</li>
						<li>
							<h4>
								<a href="#" class="red privacy"><i class="fa fa-lock"></i></a>
								<strong>Twitter</strong> <a href="#">@hilaarl</a>
								<a href="#" class="yellow edit btn btn-default btn-xs"><i class="fa fa-pencil"></i></a>
							</h4>
						</li>
						<li>
							<h4>
								<a href="#" class="green privacy"><i class="fa fa-unlock"></i></a>
								<strong>From</strong> <a href="#">Male</a>,
								<a href="#">Maldives</a> <a href="#" class="yellow edit btn btn-default btn-xs"><i class="fa fa-pencil"></i></a>
							</h4>
						</li>
					</ul>
				</div>
			</div>
			<div class="col-md-6">
				<div class="" >
					<ul id="profile-feed-list" class="mid-list list-unstyled updates">
						<li class="row t-block">
								<img src="https://scontent.fmad3-1.fna.fbcdn.net/v/t1.0-9/13015161_10206639106118049_5095482948327780281_n.jpg?oh=7cd59219a7711a21b7491a549c310bc4&oe=57E2FB21">
								<a href="#" class="username">Hilarl Agil</a>
								<span class="post-detail">
									<span class="dull">28 Mar 2013</span>
								</span>
								<span class="which-media pull-right"><i class="fa fa-twitter"></i></span>
								<p class="col-md-12">
	@Nothnegal featured on MTV Global music website http://www.mtviggy.com/articles/maldivess-nothnegal-death-metal-in-an-endangered-archipelago/ …</p>
						</li>
						<li class="row t-block">
								<img src="https://scontent.fmad3-1.fna.fbcdn.net/v/t1.0-9/13015161_10206639106118049_5095482948327780281_n.jpg?oh=7cd59219a7711a21b7491a549c310bc4&oe=57E2FB21">
								<a class="username" href="#">Hilarl Agil</a>
								<span class="post-detail">
									<span class="dull">28 Mar 2013</span>
								</span>
								<span class="which-media pull-right"><i class="fa fa-twitter"></i></span>
								<p class="col-md-12">
	@Nothnegal featured on MTV Global music website http://www.mtviggy.com/articles/maldivess-nothnegal-death-metal-in-an-endangered-archipelago/ …</p>
						</li>
						<li class="row t-block">
								<img src="https://scontent.fmad3-1.fna.fbcdn.net/v/t1.0-9/13015161_10206639106118049_5095482948327780281_n.jpg?oh=7cd59219a7711a21b7491a549c310bc4&oe=57E2FB21">
								<a class="username" href="#">Hilarl Agil</a>
								<span class="post-detail">
									<span class="dull">28 Mar 2013</span>
								</span>
								<span class="which-media pull-right"><i class="fa fa-facebook"></i></span>
								<p class="col-md-12">
	@Nothnegal featured on MTV Global music website http://www.mtviggy.com/articles/maldivess-nothnegal-death-metal-in-an-endangered-archipelago/ …</p>
						</li>
						<li class="row t-block">
								<img src="https://scontent.fmad3-1.fna.fbcdn.net/v/t1.0-9/13015161_10206639106118049_5095482948327780281_n.jpg?oh=7cd59219a7711a21b7491a549c310bc4&oe=57E2FB21">
								<a class="username" href="#">Hilarl Agil</a>
								<span class="post-detail">
									<span class="dull">28 Mar 2013</span>
								</span>
								<span class="which-media pull-right"><i class="fa fa-google-plus"></i></span>
								<p class="col-md-12">
	@Nothnegal featured on MTV Global music website http://www.mtviggy.com/articles/maldivess-nothnegal-death-metal-in-an-endangered-archipelago/ …</p>
						</li>
					</ul>
				</div>
			</div>
			<div class="col-md-3">
				<aside class="t-block">
					<h3>Activity</h3>
				</aside>
			</div>
		</div>
	</div>
</div>
