<div class="row connections-inner">

	<ul class="mid-list list-unstyled updates t-block mini-profile-container">
		<a href="#/profile/connections/businesses/" class="btn">Connected</a>
		<a href="#/profile/connections/businesses/following" class="btn">Following</a>
		<a href="#/profile/connections/businesses/followers" class="btn">Followers</a>
		<div class="row mini-profile">
				<div class="row connection-view" ui-view>
				</div>
				<!-- <div class="row view-more-container">
					<a href="#" class="btn btn-block btn-default view-more">Load More</a>
				</div> -->
			</div>
				</ul>
			</div>