<div class="container profile-view" id="connections-main">
	<div class="row">
		<div class="row extra-row">
			<div class="col-md-3">
				<div class="t-block profile-subpage-nav">
					<a href="#/profile/connections/contacts/">Contacts</a>
					<a href="#/profile/connections/professionals/">Professional Contacts</a>
					<a href="#/profile/connections/businesses/">Businesses</a>
					<a href="#/profile/connections/organizations/">Organizations</a>
					<a href="#/profile/connections/groups/">Groups</a>
				</div>
			</div>
			<div class="col-md-9" ui-view>
			</div>
		</div>
	</div>
</div>