<div class="row t-block" id="portfolio">
	<ul class="mid-list list-unstyled row">
		<li class="col-md-4">
			<a href="#">
				<img class="img-responsive" src="http://m1.behance.net/rendition/projects/16194265/404/37bfc53e2e41a7d1faac3f899c467c03.png">
			</a>
		</li>
		<li class="col-md-4">
			<a href="#">
				<img class="img-responsive" src="http://m1.behance.net/rendition/projects/15266441/404/546ddae6d45b21296168d6e5f954f68c.jpeg">
			</a>
		</li>
		<li class="col-md-4">
			<a href="#">
				<img class="img-responsive" src="http://m1.behance.net/rendition/projects/16228731/404/3b1fa1d7f43cbcce17c29f92d4121e88.jpeg">
			</a>
		</li>
	</ul>
</div>