<div class="container profile-view" id="profile-overview">
	<div class="row">
		<div class="extra-row row">
			<div class="col-md-3">
				<div class="t-block" id="about">
					<h3>Summary</h3>
					<p class="sm-p">Maldives based UX/UI Designer + Engineer, Computer Programmer and Recording + Touring musician.

	Have more than 13 years of experience in User Experience + User Interface Designing and Programming for the web and mobile. Specialized in HTML, CSS, Javascript, PHP, Python.

	Founder, songwriter and the guitarist of the Maldivian heavy metal band Nothnegal. Have toured in more than 20 countries and released albums worldwide. Featured on Rollingstone, GuitarWorld, Metal Hammer, About.com, Revolver and other major publications.</p>
				</div>
			</div>
			<div class="col-md-6">
				<div class="row" >
					<ul id="references" class="mid-list list-unstyled updates">
						<li class="reference-block t-block">
							<img src="https://scontent.fmad3-1.fna.fbcdn.net/v/t1.0-9/13015161_10206639106118049_5095482948327780281_n.jpg?oh=7cd59219a7711a21b7491a549c310bc4&oe=57E2FB21">
							<p>
								<span><i class="fa fa-3 fa-quote-left"></i></span>
									Design based senior creative with an idea's to execution skill set across digital, film and technologically driven media. Focused on developing innovative projects and products that offer intrinsic value to the intended audiences.
								<span><i class="fa fa-quote-right"></i></span>
							</p>
						</li>
						<li class="reference-block t-block">
							<img src="https://scontent.fmad3-1.fna.fbcdn.net/v/t1.0-9/13015161_10206639106118049_5095482948327780281_n.jpg?oh=7cd59219a7711a21b7491a549c310bc4&oe=57E2FB21">
							<p>
								<span><i class="fa fa-3 fa-quote-left"></i></span>
									Design based senior creative with an idea's to execution skill set across digital, film and technologically driven media. Focused on developing innovative projects and products that offer intrinsic value to the intended audiences.
								<span><i class="fa fa-quote-right"></i></span>
							</p>
						</li>
						<li class="reference-block t-block">
							<img src="https://scontent.fmad3-1.fna.fbcdn.net/v/t1.0-9/13015161_10206639106118049_5095482948327780281_n.jpg?oh=7cd59219a7711a21b7491a549c310bc4&oe=57E2FB21">
							<p>
								<span><i class="fa fa-3 fa-quote-left"></i></span>
									Design based senior creative with an idea's to execution skill set across digital, film and technologically driven media. Focused on developing innovative projects and products that offer intrinsic value to the intended audiences.
								<span><i class="fa fa-quote-right"></i></span>
							</p>
						</li>
					</ul>
				</div>
			</div>
			<div class="col-md-3">
				<aside class="t-block">
					<h3>Activity</h3>
				</aside>
			</div>
		</div>
	</div>
</div>
