<div class="row">
	<a href="#" class="edit btn btn-primary btn-block add-btn">Add</a>
</div>
<div class="" >
	<ul class="mid-list row list-unstyled updates">
		<li class="skill-block col-md-12 t-block">
			<a href="#" class="position">
				<h4>Guitarist <a href="#/"><span class="label label-success skill-endorse-count">2</span></a>
					<a href="#" class="red edit"><i class="fa fa-times"></i></a>
					<a href="#"	class="green privacy"><i class="fa fa-unlock"></i></a> 
					<a href="#" class="btn pull-right endorse-btn">Endorse</a>
				</h4>
			</a>
		</li>
		<li class="skill-block col-md-12 t-block">
			<a href="#" class="position">
				<h4>Guitarist
					<a href="#" class="red edit"><i class="fa fa-times"></i></a>
					<a href="#"	class="green privacy"><i class="fa fa-unlock"></i></a> 
					<a href="#" class="btn pull-right endorse-btn">Endorse</a>
				</h4>
			</a>
		</li>
		<li class="skill-block col-md-12 t-block">
			<a href="#" class="position">
				<h4>Guitarist
					<a href="#" class="red edit"><i class="fa fa-times"></i></a>
					<a href="#"	class="green privacy"><i class="fa fa-unlock"></i></a> 
					<a href="#" class="btn pull-right endorse-btn">Endorse</a>
				</h4>
			</a>
		</li>
		<li class="skill-block col-md-12 t-block">
			<a href="#" class="position">
				<h4>Guitarist
					<a href="#" class="red edit"><i class="fa fa-times"></i></a>
					<a href="#"	class="green privacy"><i class="fa fa-unlock"></i></a> 
					<a href="#" class="btn pull-right endorse-btn">Endorse</a>
				</h4>
			</a>
		</li>
	</ul>
</div>