<div class="container profile-view" id="profile-overview">
	<div class="row">
		<div class="row extra-row">
			<div class="col-md-3">
				<div class="t-block profile-subpage-nav">
					<a href="#/profile/background/">Skills</a>
					<a href="#/profile/background/portfolio">Portfolio</a>
					<a href="#/profile/background/awards">Awards and Recognition</a>
					<a href="#/profile/background/publications">Publications</a>
					<a href="#/profile/background/interests">Interests</a>
				</div>
			</div>
			<div class="col-md-6" ui-view>
			</div>
			<aside class="col-md-3">
				<div class="t-block">
					<h3>Similar to Hilarl</h3>
				</div>
			</aside>
		</div>
	</div>
</div>