<li class="col-md-3 box">
						<a href="#/profile/" class="inner-box">
							<img src="https://s3.amazonaws.com/photos.angel.co/users/43116-medium_jpg?1336673056">
							<h3>Jeff Schox</h3>
							<hr>
							<h4>Experience</h4>
							<h5>Patent Attorney</h5>
							<h4>Interests</h4>
							<h5>Investing</h5>
							<h4>Location</h4>
							<p>San Francisco, USA</p>
						</a>
					</li>
					<li class="col-md-3 box">
						<a href="#/profile/" class="inner-box">
							<img src="https://s3.amazonaws.com/photos.angel.co/users/43116-medium_jpg?1336673056">
							<h3>Jeff Schox</h3>
							<hr>
							<h4>Experience</h4>
							<h5>Patent Attorney</h5>
							<h4>Interests</h4>
							<h5>Investing</h5>
							<h4>Location</h4>
							<p>San Francisco, USA</p>
						</a>
					</li>
					<li class="col-md-3 box">
						<a href="#/profile/" class="inner-box">
							<img src="https://s3.amazonaws.com/photos.angel.co/users/43116-medium_jpg?1336673056">
							<h3>Jeff Schox</h3>
							<hr>
							<h4>Experience</h4>
							<h5>Patent Attorney</h5>
							<h4>Interests</h4>
							<h5>Investing</h5>
							<h4>Location</h4>
							<p>San Francisco, USA</p>
						</a>
					</li>
					<li class="col-md-3 box">
						<a href="#/profile/" class="inner-box">
							<img src="https://s3.amazonaws.com/photos.angel.co/users/43116-medium_jpg?1336673056">
							<h3>Jeff Schox</h3>
							<hr>
							<h4>Experience</h4>
							<h5>Patent Attorney</h5>
							<h4>Interests</h4>
							<h5>Investing</h5>
							<h4>Location</h4>
							<p>San Francisco, USA</p>
						</a>
					</li>
					<li class="col-md-3 box">
						<a href="#/profile/" class="inner-box">
							<img src="https://s3.amazonaws.com/photos.angel.co/users/43116-medium_jpg?1336673056">
							<h3>Jeff Schox</h3>
							<hr>
							<h4>Experience</h4>
							<h5>Patent Attorney</h5>
							<h4>Interests</h4>
							<h5>Investing</h5>
							<h4>Location</h4>
							<p>San Francisco, USA</p>
						</a>
					</li>
					<li class="col-md-3 box">
						<a href="#/profile/" class="inner-box">
							<img src="https://s3.amazonaws.com/photos.angel.co/users/43116-medium_jpg?1336673056">
							<h3>Jeff Schox</h3>
							<hr>
							<h4>Experience</h4>
							<h5>Patent Attorney</h5>
							<h4>Interests</h4>
							<h5>Investing</h5>
							<h4>Location</h4>
							<p>San Francisco, USA</p>
						</a>
					</li>
					<li class="col-md-3 box">
						<a href="#/profile/" class="inner-box">
							<img src="https://s3.amazonaws.com/photos.angel.co/users/43116-medium_jpg?1336673056">
							<h3>Jeff Schox</h3>
							<hr>
							<h4>Experience</h4>
							<h5>Patent Attorney</h5>
							<h4>Interests</h4>
							<h5>Investing</h5>
							<h4>Location</h4>
							<p>San Francisco, USA</p>
						</a>
					</li>
					<li class="col-md-3 box">
						<a href="#/profile/" class="inner-box">
							<img src="https://s3.amazonaws.com/photos.angel.co/users/43116-medium_jpg?1336673056">
							<h3>Jeff Schox</h3>
							<hr>
							<h4>Experience</h4>
							<h5>Patent Attorney</h5>
							<h4>Interests</h4>
							<h5>Investing</h5>
							<h4>Location</h4>
							<p>San Francisco, USA</p>
						</a>
					</li>