<div class="container profile-view" id="profile-overview">
	<div class="row">
		<div class="row extra-row">
			<div class="col-md-3">
				<div class="t-block" id="about">
					<h3>Summary</h3>
					<p class="sm-p">Maldives based UX/UI Designer + Engineer, Computer Programmer and Recording + Touring musician.

					Have more than 13 years of experience in User Experience + User Interface Designing and Programming for the web and mobile. Specialized in HTML, CSS, Javascript, PHP, Python.

					Founder, songwriter and the guitarist of the Maldivian heavy metal band Nothnegal. Have toured in more than 20 countries and released albums worldwide. Featured on Rollingstone, GuitarWorld, Metal Hammer, About.com, Revolver and other major publications.</p>
				</div>
			</div>
			<div class="col-md-6">
				<div class="row pull-right">
					<a href="#" class="edit btn btn-primary add-btn">Add Position</a>
				</div>
				<div class="row" >
					<ul class="mid-list list-unstyled updates">
						<li class="col-md-12 t-block experience-block">
							<div class="pull-right">
								<a href="#" class="edit btn btn-default btn-sm">
									<i class="fa fa-pencil"></i>
								</a>
								<a href="#" class="edit btn btn-default btn-sm">
									<i class="fa fa-times"></i>
								</a>
							</div>
								<a href="#" class="position"><h4>Graphic Design</h4></a>
								<a href="#/college/" class="company">
									<img class="pull-right" src="http://upload.wikimedia.org/wikipedia/en/f/f3/Parsonsnewschoollogo.png">
									<h4>Parsons The New School for Design</h4>
								</a>
								<p class="duration">November 2006 – Present (7 years 6 months)</p>
								<p class="location"><a href="#">New York</a>, <a href="#">United States of America</a></p>
								<p class="col-md-12">
									<strong>Courses</strong> <a href="#">Web Design</a> · <a href="#">Art History</a> · <a href="#">Design Communication</a>
								</p>
						</li>
						<li class="col-md-12 t-block experience-block">
							<div class="pull-right">
								<a href="#" class="edit btn btn-default btn-sm">
									<i class="fa fa-pencil"></i>
								</a>
								<a href="#" class="edit btn btn-default btn-sm">
									<i class="fa fa-times"></i>
								</a>
							</div>
								<a href="#" class="position"><h4>Computer Science</h4></a>
								<a href="#" class="company">
									<img class="pull-right" src="http://upload.wikimedia.org/wikipedia/en/thumb/3/3a/Harvard_Wreath_Logo_1.svg/440px-Harvard_Wreath_Logo_1.svg.png">
									<h4>Harvard University</h4>
								</a>
								<p class="duration">2011</p>
								<p class="location"><a href="#">Boston</a>, <a href="#">United States of America</a></p>
								<p class="col-md-12">
									<strong>Courses</strong> <a href="#">C</a> · <a href="#">PHP</a> · <a href="#">Javascript</a> · <a href="#">Cryptography</a> · <a href="#">Bits</a>
								</p>
						</li>
					</ul>
				</div>
			</div>
			<aside class="col-md-3">
				<div class="t-block">
					<h3>Similar to Hilarl</h3>
				</div>
			</aside>
		</div>
	</div>
</div>