<div class="container profile-view" id="profile-overview">
	<div class="row">
		<div class="extra-row row">
			<div class="col-md-3">
				<div class="t-block" id="about">
					<h3>Summary</h3>
					<p class="sm-p">
						Maldives based UX/UI Designer + Engineer, Computer Programmer and Recording + Touring musician.

						Have more than 13 years of experience in User Experience + User Interface Designing and Programming for the web and mobile. Specialized in HTML, CSS, Javascript, PHP, Python.

						Founder, songwriter and the guitarist of the Maldivian heavy metal band Nothnegal. Have toured in more than 20 countries and released albums worldwide. Featured on Rollingstone, GuitarWorld, Metal Hammer, About.com, Revolver and other major publications.
						<a href="#" class="edit btn btn-default btn-xs">
							<i class="fa fa-pencil"></i>
						</a>
					</p>
				</div>
			</div>
			<div class="col-md-6">
				<div class="row pull-right">
					<a href="#" class="edit btn btn-primary add-btn">Add Position</a>
				</div>
				<div class="row" >
					<ul class="mid-list list-unstyled updates">
						<li class="col-md-12 t-block experience-block">
								<div class="pull-right">
									<a href="#" class="edit btn btn-default btn-sm">
										<i class="fa fa-pencil"></i>
									</a>
									<a href="#" class="edit btn btn-default btn-sm">
										<i class="fa fa-times"></i>
									</a>
								</div>
								<a href="#" class="position"><h4>Guitarist</h4></a>
								<a href="#" class="company">
									<img class="pull-right" src="http://upload.wikimedia.org/wikipedia/commons/thumb/a/aa/Logo_Google_2013_Official.svg/440px-Logo_Google_2013_Official.svg.png">
									<h4>Nothnegal</h4>
								</a>
								<p class="duration">November 2006 – Present (7 years 6 months)</p>
								<p class="location"><a href="#">Male'</a>, <a href="#">Maldives</a></p>
								<p class="col-md-12">
									Founder, songwriter and the guitarist of the band. Have toured in more than 20 countries and released albums worldwide. Featured on Rollingstone, GuitarWorld, Metal Hammer, About.com, Revolver and other major publications.
								</p>
						</li>
						<li class="col-md-12 t-block experience-block">
							<div class="pull-right">
								<a href="#" class="edit btn btn-default btn-sm">
									<i class="fa fa-pencil"></i>
								</a>
								<a href="#" class="edit btn btn-default btn-sm">
									<i class="fa fa-times"></i>
								</a>
							</div>
								<a href="#" class="position"><h4>UI/UX Designer</h4></a>
								<a href="#" class="company">
									<img class="pull-right" src="https://lh6.googleusercontent.com/-dRjWZkbZSYI/UZxaNt2vuQI/AAAAAAAAAEI/sRYmwL8XMak/s500-no/Allied+Icon.jpg">
									<h4>Allied Insurance Company</h4>
								</a>
								<p class="duration">November 2006 – Present (7 years 6 months)</p>
								<p class="location"><a href="#">Male'</a>, <a href="#">Maldives</a></p>
								<p class="col-md-12">
									Founder, songwriter and the guitarist of the band. Have toured in more than 20 countries and released albums worldwide. Featured on Rollingstone, GuitarWorld, Metal Hammer, About.com, Revolver and other major publications.
								</p>
						</li>
					</ul>
				</div>
			</div>
			<aside class="col-md-3">
				<div class="t-block">
					<h3>Similar to Hilarl</h3>
				</div>
			</aside>
		</div>
	</div>
</div>