<div id="profile-header" class="container">
	<div class="">
		<img src="https://scontent.fmad3-1.fna.fbcdn.net/v/t1.0-9/13015161_10206639106118049_5095482948327780281_n.jpg?oh=7cd59219a7711a21b7491a549c310bc4&oe=57E2FB21">
		<h2>Hilarl Agil</h2>
		<h4 class="col-md-8 col-sm-offset-2"><a href="#" class="green privacy"><i class="fa fa-unlock"></i></a> CEO of Puddle. Founding member of Kiva & Y! Brickhouse. Founded the Mac Messenger & BrowserPlus projects at Yahoo! <a href="#" class="yellow edit btn btn-default btn-xs"><i class="fa fa-pencil"></i></a></h4>
		<h5 class="col-md-8 col-sm-offset-2"><a href="#" class="green privacy"><i class="fa fa-unlock"></i></a> San Francisco · Entrepreneur · Duke University <a href="#" class="yellow edit btn btn-default btn-xs"><i class="fa fa-pencil"></i></a></h5>
	</div>
</div>
<div id="profile-sub-nav" class="blue container">
	<div class="">
		<div class="col-md-6 left" id="count-bar">
			<a href="#" class="green privacy"><i class="fa fa-unlock"></i></a><a href="#" class="btn">2 Followers</a>
			<a href="#" class="green privacy"><i class="fa fa-unlock"></i></a><a href="#" class="btn">2 Following</a>
			<a href="#" class="green privacy"><i class="fa fa-unlock"></i></a><a href="#" class="btn">2 References</a>
		</div>
		<div class="col-md-6 right">
			<a href="#" class="btn btn-default" id="activate-edit">Edit Information</a>
			<a href="#" class="btn btn-default" id="activate-privacy">Set Privacy</a>
			<a href="#" class="btn btn-default">Follow</a>
			<div class="btn-group">
			  <button type="button" class="btn btn-default">Connect</button>
			  <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
			    <span class="caret"></span>
			    <span class="sr-only">Toggle Dropdown</span>
			  </button>
			  <ul class="dropdown-menu" role="menu">
			  	<li><a href="#">Add Friend</a></li>
			    <li><a href="#">Message</a></li>
			    <li><a href="#">Propose</a></li>
			    <li><a href="#">Hire</a></li>
			  </ul>
			</div>
		</div>
	</div>
</div>
<nav id="main-nav" class="container">
	<div class="container">
		<a href="#/profile/">Overview</a>
		<a href="#/profile/experience">Experience</a>
		<a href="#/profile/education">Education</a>
		<a href="#/profile/background/">Background</a>
		<a href="#/profile/references">References</a>
		<a href="#/profile/connections/contacts/">Connections</a>
		<a href="#/profile/activity">Activity</a>
	</div>
</nav>

<section ui-view id="profile-container"></section>
